<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hiking Event Details</title>

    <link href="../../static/css/showevents.css" th:href="@{/css/showevents.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<div class="nav-content">
    <nav th:insert="menu.html::menu_nav"></nav>
</div>
<div class="container">

    <div class="container-img"
         th:style="'background-image: url(' + @{/route/image/{id} (id=${route.routeId})} + ');'">
    </div>


    <div class="submit">
        <p>SignUp ends on:</p>
        <i class='far fa-calendar-check'></i>
        <a th:text="${#calendars.format(event.signUpDeadline,'MMMM, dd')}">SignUp Deadline</a>
        </br>
        </br>
        <p th:text="'Price: '+${event.price}+'€/person'">Price</p>
        <button class="btn-submit">Join Event</button>
    </div>

</div>


<div class="event-details">

    <span class="event-name" th:text="${event.eventName}">Title</span>
    </br>
    </br>
    <div class="event-dates">
        <i class='far fa-calendar-check'></i>
        <a th:text="${#calendars.format(event.startEvent,'MMMM, dd')+' to '+#calendars.format(event.endEvent,'MMMM, dd')}">
            Duration</a>
        </br>
        </br>
        <i class="fas fa-users"></i>
        <a th:text="'Group maximum capacity: '+ ${event.maxParticipants} ">Maximum capacity</a>
        </br>
        </br>
        <i class="fas fa-user-check"></i>
        <a th:text="'Available places for this event: '+ ${event.maxParticipants} ">Places available</a>
        </br>
        </br>
        <i class="fas fa-male"></i>
        <a th:text="'Your journey will be guided by: '+ ${guide.firstName}+' '+${guide.lastName}">Guide Name</a>
    </div>
    </br>
</div>
<h3 class="event-description" th:text="${event.description}">Event Description</h3>
</br>
</br>


<div class="route-details">
    <i class="fas fa-hiking"></i>
    <span class="route-name" th:text="${route.routeName}">Route name</span>
    </br>
</div>
<h3 class="route-description" th:text="${route.description}">Route Description</h3>
</br>
<div class="route-details">
    <table>
        <tr>
            <th>
                <i class='far fa-map'></i></br>
                DIFFICULTY LEVEL
            </th>
            <th>
                <i class='fas fa-ruler'></i></br>
                ROUTE DISTANCE
            </th>
            <TH>
                <i class="fas fa-hourglass-half"></i></br>
                DURATION
            </TH>
            <th>
                <i class="fas fa-level-up-alt"></i></br>
                MAXIMUM ALTITUDE
            </th>
        </tr>
        <tr>
            <td class="route-difficultyLevel" th:text="${route.difficultyLevel}">Route Difficulty Level</td>

            <td class="route-distance" th:text="${route.distance}+'km'">Route distance</td>

            <td class="route-duration" th:text="${route.duration}+'H'">Route duration</td>

            <td class="route-maxAltitude" th:text="${route.maxAltitude}+'m'">Route maxAltitude</td>
        </tr>
    </table>
</div>
</div>

</body>
</html>