<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hiking Event Details</title>
    <nav th:insert="menu.html::menu_nav"></nav>
    <link href="../../static/css/showevents.css" th:href="@{/css/showevents.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="route-img">
        <img src="map.jpg" alt="Route map">
    </div>
    <div class="details">
        <h1>Bye!Bye!:))))...</h1>
    </div>

</div>

</body>
</html>