<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../../static/css/showguides.css" th:href="@{/css/showguides.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>
    <title>Guides view</title>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet"/>

    <nav th:insert="menu.html::menu_nav"></nav>
    <script>
        function searchKeyUpFirstName() {
        // Declare variables
             var input, filter, spans, i, txtValue, trs;
             input = document.getElementById('searchFirstName');
             filter = input.value.toUpperCase();
             spans = document.getElementsByClassName('first_name');
             trs = document.getElementsByClassName('guide');
             // Loop through all list items, and hide those who don't match the search query
             for (i = 0; i < spans.length; i++) {
               txtValue = spans[i].innerText;
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                 trs[i].style.display = "";
               } else {
                 trs[i].style.display = "none";
               }
             }
  }
    </script>
</head>
<body>

<div class="box">
<h1>Our Guides</h1>
<a th:href="@{/addguide}">
    <i class="material-icons" style="font-size:30px;color:black">add</i>
</a></br>
<table class="tableheader" align="center">

        <!--            <th>Guide Id</th>-->
        <td width="150px">First Name</td>
    <div class="input-box">
        <i class="fas fa-search"></i>
        <input type="text" onkeyup="searchKeyUpFirstName()"
               name="searchFirstName" id="searchFirstName"
               placeholder="Search by first name"
        /></div>
    </br></br>
        <td width="150px">Last Name</td>
        <td width="100px">Age</td>
        <td width="250px">Email Address</td>
        <td width="200px">Phone No.</td>
        <!--            <th>Role</th>-->
        <td width="100px">Action</td>
    </tr>
</table>
<div class ="forbody">
    <table class="tablebody">
        <tbody th:each="g:${guides}">
        <tr class="guide">
            <!--            <td th:text="${g.userId}"></td>-->
            <td> <span class="first_name" th:text="${g.firstName}" width="150px" height="70px"></span></td>
            <td th:text="${g.lastName}" width="150px" height="70px"></td>
            <td th:text="${g.age}"width="100px" height="7-px"></td>
            <td th:text="${g.emailAddress}" width="250px" height="70px"></td>
            <td th:text="${g.phoneNo}" width="200px" height="70px"></td>
            <!--            <td th:text="${g.role}"></td>-->
            <td width="100px">
                <a th:href="@{/editguide/{id}(id=${g.userId})}">
                    <i class="small material-icons" style="color:#595959">edit</i>
                </a>
                <a th:href="@{/deleteguide/{id}(id=${g.userId})}">
                    <i class="small material-icons" style="color:#f78787">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>