body {
    height: 100%;
    margin: 0;
    /*background-image: url('../img/catalin-pateo-SCilWHia2w8-unsplash.jpg');*/
    background-repeat: no-repeat;
    background-position: 80% 20%;
    background-size: cover;
    opacity: 0.8;
}

/*.slick-slide {
    width: 10vw;
    box-sizing: border-box;
}*/

.carousel-event img {
    margin: 5rem 0 0 0;
    /*padding-top: 150px;*/
    height: auto;
}

/*.home-slick-slider>.slick-prev {
  left: 10px;
  z-index: 1;
}
.home-slick-slider>.slick-next {
  right: 10px;
  z-index: 1;
}*/

.container {
    margin: 4rem 0 0 0;
}

.carousel{
    width:90%;
    margin:0px auto;
}

.slick-slide{
    margin:10px;
}

.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}

.slick-slide img{
    width: 100%;
}

.slick-next{
    z-index: 999;
    right: 10px !important;
}

.slick-prev{
    z-index: 999;
    left: 10px !important;
}

.slick-list{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.slick-slide{
    filter: blur(1px);
    opacity: .85;
    transform: scale(0.85);
}

.slick-current{
    filter: none;
    opacity: 1;
}

.slick-center {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.1);
}

.slick-arrow{
    width: 3rem !important;
    height: 3rem !important;
}

.slick-arrow:before{
    font-size: 3rem !important;
}

.slick-prev:before, .slick-next:before{
    color: #485B5D !important;
}

.slick-slide:focus{
    outline: none !important;
}

.linkevent {
    display: block;
    width: 100%;
    height: 100%;
}