@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    height: 100%;
    margin: 0;
    background-image: url('../img/paul-gilmore-nhFcSmJtAeo-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
}

.box {
    width: 30%;
    height: auto;
    padding: 20px;
    margin-left:480px;
    margin-right: auto;
    margin-top: 20px;
    color: black;
}

.tableheader{
height: 60px;
width:950px;
font-weight: 500;
font-size: 18px;
background-color:#e6e6e6;
cellspacing="0";
cellpadding="0";
border: none;
}

.forbody{
overflow: auto;
height: 300px;
width: 970px;

}

.tablebody{
width:950px;
text-align: left;
font-weight:500;
font-size: 16px;
cellspacing="0";
cellpadding="0";
border: none;
}

tr:hover {background-color: #ddd;}

h1{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  text-align: top-letf;
  margin-bottom: 30px;
}











