<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add hiking route</title>
    <nav th:insert="menu.html::menu_nav"></nav>
    <link href="../../static/css/routes.css" th:href="@{/css/routes.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>
<body class="addroute">
<div class="box">
    <h1 id="title">New route</h1>

    <form class="form" th:action="@{/addhikingroute}" autocomplete="off" method="post" enctype="multipart/form-data">
        <div class="input-box">
            <input class="input-field" type="text" id="routeName" name="routeName" placeholder="Route name" required>
        </div>
        <br/>

        <div class="input-box">
            <select class="select-field" id="difficultyLevel" name="difficultyLevel" required>
                <option value="" disabled selected hidden></option>
                <option th:each="df : ${diflevels}" th:value="${df}"
                        th:text="${df}">
                </option>
            </select>
        </div>
        <br/>

        <div class="input-box">
            <input class="input-field" type="number" step="any" id="distance" name="distance" placeholder="Distance"
                   required>
        </div>
        <br/>

        <div class="input-box">
            <input class="input-field" type="number" id="maxAltitude" name="maxAltitude" placeholder="Max altitude"
                   required>
        </div>
        <br/>

        <div class="input-box">
            <input class="input-field" type="number" id="duration" name="duration" placeholder="Duration" required>
        </div>
        <br/>

        <div class="input-box">
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description route"></textarea>
        </div>
        <br/>

        <div class="img-box">
            <label for="routeBackground">Background image</label>
            <input class="input-field" type="file" id="routeBackground" name="routeBackground" accept="image/*">
            <img id="thumbnail" alt="Background Preview" width="158" height="150" hspace="10">
        </div>
        <br/>

        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
<script>
    $(document).ready(function(){
        $('#routeBackground').change(function(){
                showImageThumbnail(this);
            });
    });

    function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }

</script>

</body>
</html>