<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit route</title>
    <nav th:insert="menu.html::menu_nav"></nav>
    <link href="../../static/css/routes.css" th:href="@{/css/routes.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

    </script>
</head>
<body class="edit-route">
<div class="box">
    <h1 id="title">New route</h1>

    <form class="form" th:action="@{/edithikingroute/{id} (id=${route.routeId})}" th:object="${route}" autocomplete="off" method="post">
        <input type="hidden" th:field=*{routeId}>
        <div class="input-box">
            <input th:field="*{routeName}" class="input-field" type="text" id="routeName" name="routeName" placeholder="Route name">
        </div>
        <br/>

        <div class="input-box">
            <select th:field="*{difficultyLevel}" class="select-field" id="difficultyLevel" name="difficultyLevel">
                <option value="" disabled selected hidden></option>
                <option th:each="df : ${diflevels}" th:value="${df}"
                        th:text="${df}">
                </option>
            </select>
        </div>
        <br/>

        <div class="input-box">
            <input th:field="*{distance}" class="input-field" type="number" step="any" id="distance" name="distance" placeholder="Distance">
        </div>
        <br/>

        <div class="input-box">
            <input th:field="*{maxAltitude}" class="input-field" type="number" id="maxAltitude" name="maxAltitude" placeholder="Max altitude">
        </div>
        <br/>

        <div class="input-box">
            <input th:field="*{duration}" class="input-field" type="number" id="duration" name="duration" placeholder="Duration">
        </div>
        <br/>

        <div class="input-box">
            <textarea th:field="*{description}" name="description" id="description" cols="30" rows="10" placeholder="Description route"></textarea>
        </div>
        <br/>

        <div class="img-box">
            <label for="routeBackground">Background image</label>
            <input class="input-field" type="file" id="routeBackground" name="routeBackground" accept="image/*">
            <img name="thumbnail" id="image" alt="Background Preview" width="158" height="150" hspace="10">
        </div>
        <br/>

        <button type="submit" value="Submit">Save</button>
    </form>
</div>

</body>
</html>