<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="../static/css/menu.css" th:href="@{../static/css/menu.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>

    <nav th:insert="menu.html::menu_nav"></nav>
</head>
<body>
<div class="container">
    <h1>index</h1>
    <hr>
    <a th:href=@{/allevents}>Events</a>
    <a th:href=@{/allroutes}>Routes</a>
    <a th:href=@{/allguides}>Guides</a>
</div>

</body>
</html>