<html th:fragment="menu_nav" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/299b1a0412.js" crossorigin="anonymous"></script>

</head>
<body>
<nav class="nav-bar-menu" th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org">
    <div class="nav-wrapper">
        <ul class="menu">
            <li><a th:href="@{/homeallevents}" class="menu-item">Home</a></li>
            <li><a th:href="@{/allroutes}" class="menu-item">Routes</a></li>
            <li><a th:href="@{/allguides}" class="menu-item">Guides</a></li>
            <li><a th:href="@{/allevents}" class="menu-item">Events</a></li>
            <div class="right-side">
                <li><a><i class="far fa-bell"></i></a></li>
                <li><a th:href="@{/login}" id="login">login</a></li>
            </div>

        </ul>
    </div>
</nav>
</body>
</html>